<tr><td><%= "#{@songs.length+1}" %></td><td><%= @song.name %></td><td><%= button_to "Delete", { :controller => "songs", :action => "destroy", :party_id => @song.party_id, :id => @song.id, :name => @song.name}, :confirm => "Delete this song?", :method => :delete %>
</td></tr>