<div class="span12">
	<div class="well" id="spotify" style="background-color:#000000;border-color:#000000">
		<h1 style="color:#00FFFF;">Name your Playlist</h1>
	</br>
		<%= form_for(@party) do |u|%>

		  <%= u.text_field :name %><br>
		  <%= u.submit "Start Playlist", :class => "btn btn-primary" %>

		<% end %>
	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>