<div class="span12">
	<div class="well" id="spotify">
		<h1>Name your Playlist</h1>
	</br>
		<%= form_for(@party) do |u|%>

		  <%= u.text_field :name %><br>
		  <%= u.submit "Start Playlist", :class => "btn btn-primary" %>

		<% end %>
	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>