<div class="span12">
	<div class="well" id="spotify">
		<h1>About PlayedBy.Me</h1>

		</br>

		<p> PlayedBy.me is an app that allows a Host to create a playlist for his/her party. Guests can then add songs to the playlist and up/down vote songs that are in the queue. Playlists for past parties hosted/attended are saved in the User's dashboard so that the User can lookup a specific song they liked or reuse an entire playlist for a future party. </p>
	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>