<div class="span12">
	<div class="well" id="spotify">
		<h1>Sign in with Facebook</h1>
		<%= link_to image_tag("connect-to-facebook-button.png") , "/auth/facebook" %>
	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>