%h1 Sessions#create
%p Find me in app/views/sessions/create.html.haml
<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" class="en oldIE"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class="en"><!--<![endif]-->

<head>
	<title>Playedby.me / Welcome!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<%= stylesheet_link_tag 'application.css' %>
	<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="SignUp">
	<h2> "Welcome back <% @authorization.user.name %>! You have already signed up." </h2>
</div>
</body>
</html>