/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main{
	padding-bottom: 20px;
}

#negative {
	color: black;
}

.row {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;

}

#spotify-play-button {

	text-align: center;

}

 #spotify {
 	height: 330px;
 	text-align: center;
 }

 #spotify p {
 	text-align: left;
 }

 #plain {
 	height: 330px;
 	text-align: center;
 }

 #parties-search {

	height: 300px;
	overflow: auto;
	padding-down: 10px;
	opacity: 0.4;

}

#spotify-playlist {

 	text-align: center;
 	height: 330px;

}

.playlist {

	height: 270px;
	overflow: auto;
	padding-down: 10px;
	border-radius: 10px 5px;

}

.search {
	height: 187px;
	overflow: auto;
	padding-down: 10px;
	border-radius: 10px 5px;
}

