// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#parties-search {

	height: 300px;
	overflow: auto;
	padding-down: 10px;
	background: #00FF66;
	opacity: 0.4;
}
