// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container
{
	padding-left: 150px;
	padding-right: 150px;
	position: static;
	padding-top: 100px;
	background-image: url('background.jpg');

}

#SignUp
{
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    font-size: 100%;
}

.header
{
	font-family: Strait;
	font-weight: 900;
	color: black;
	font-size: 300%;
}

.text
{
	font-family: Strait;
	color: black;
	font-size: 300%;
}

